<h1>ResumeGrandma</h1>
<% if user_signed_in? %>
  <div class="signout">
    <p><%= link_to 'Log out', destroy_user_session_path, method: :delete %></p>
  </div>
<% end %>
<div id="grandma">
  <%= image_tag 'resume_grandma_208x226.jpg' %>
</div>
<p>Come to your bubbe and give me a kiss. Right on the mouth. Open your mouth a little bit.  Give your grandmother some tongue. That's better. You look just like Antonio Banderas. Such a handsome boy.</p>
<p>I made fresh latkes and gefilte fish for you. They were on sale at CostCo. Here is some of that Diet Dr. Zeppa you like so much.  You drank all of my Diet Dr. Zeppa the last time you were here, of course you like it.  Take some extra brisket home with you. You are always sick! That cough. Are you still smoking? You have gained a little weight, I want you to talk to Uncle Joe. It is that girlfriend of yours, she never cooks for you.</p>
<h2><%= link_to "Get Started on your Resume", resumes_path %></h2>
<p>
  <%= link_to "Sign Up", new_user_registration_path %>
</p>
<p>
  <%= link_to "Sign In", user_session_path %>
</p>