<%= form_for ([@resume, @school]) do |form| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <p><%= @school.errors.all %></p>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :school_name %><br />
    <%= form.text_field :school_name %>
  </div>
  <div class="field">
    <%= form.label :degree %><br />
    <%= form.text_field :degree %>
  </div>
  <div class="field">
    <%= form.label :major %><br />
    <%= form.text_field :major %>
  </div>
  <div class="field">
    <%= form.label :description %><br />
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label :start_date %><br />
    <%= form.date_select :start_date %>
  </div>
  <div class="field">
    <%= form.label :end_date %><br />
    <%= form.date_select :end_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>