<%= form_for [@resume, @school], html: {class:"form-horizontal"} do |form| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <p><%= @school.errors.all %></p>
    </div>
  <% end %>

  <div class="field control-group">
    <%= form.label :school_name, class:"control-label" %><br />
    <div class="controls"><%= form.text_field :school_name %></div>
  </div>
  <div class="field control-group">
    <%= form.label :degree, class:"control-label" %><br />
    <div class="controls"><%= form.text_field :degree %></div>
  </div>
  <div class="field control-group">
    <%= form.label :major, class:"control-label" %><br />
    <div class="controls"><%= form.text_field :major %></div>
  </div>
  <div class="field control-group">
    <%= form.label :description, class:"control-label" %><br />
    <div class="controls"><%= form.text_area :description, rows: "6" %></div>
  </div>
  <div class="field control-group">
    <%= form.label :start_date, class:"control-label" %><br />
    <div class="controls"><%= form.date_select :start_date %></div>
  </div>
  <div class="field control-group">
    <%= form.label :end_date, class:"control-label" %><br />
    <div class="controls"><%= form.date_select :end_date %></div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>