<%= form_for(@resume) do |form| %>
  <% if @resume.errors.any? %>
    <div id="error_explanation">
      <p><%= @resume.errors.all %></p>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :resume_name %><br />
    <%= form.text_field :resume_name %>
  </div>
  <div class="field">
    <%= form.label :position %><br />
    <%= form.text_field :position %>
  </div>
  <div class="field">
    <%= form.label :description %><br />
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label :job_id %><br />
    <%= form.text_field :job_id %>
  </div>
  <div class="field">
    <%= form.label :school_id %><br />
    <%= form.text_field :school_id %>
  </div>
  <div class="field">
    <%= form.label :contact_id %><br />
    <%= form.text_field :contact_id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>