<div class="page-header">
  <h1>R&eacute;sum&eacute; List</h1>
</div>
<div class="well well-small">
  <p>This page lists all your resumes. Create, review, delete or edit your resumes from here.
  </p>
</div>

<%= render 'nav' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Resume Name</th>
      <th>Position</th>
      <th>Description</th>
      <th>Job</th>
      <th>School</th>
      <th>Contact</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
<% @current_user.resumes.each do |resume| %>
  <tr>
    <td><%= resume.resume_name %></td>
    <td><%= resume.position %></td>
    <td><%= resume.description %></td>
    <td>
      <% resume.jobs.each do |job| %>
        <%= job.company %>, <%= job.title %> <br><br>
      <% end %>
    </td>
    <td>
      <% resume.schools.each do |school| %>
        <%= school.school_name %>, <%= school.degree %> <br><br>
      <% end %>
    </td>
    <td>
      <% resume.contacts.each do |contact| %>
        <%= contact.address1 %>, <%= contact.zip %> <br><br>
      <% end %>
    </td>
    <td><%= link_to 'Show', resume %></td>
    <td><%= link_to 'Edit', edit_resume_path(resume) if user_signed_in? %></td>
    <td><%= link_to 'Destroy', resume, method: :delete, data: { confirm: 'Are you sure?' } if user_signed_in? %></td>
  </tr>
<% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>