<div class="page-header">
  <h1>Inspect a R&eacute;sum&eacute;</h1>
</div>
<div class="well well-small">
  <p>Review an existing resume, with links to work, education and contact info.</p>
</div>
<%= render 'shownav' %>

<div>
  <%= link_to "Printable PDF", resume_path(@resume, format: "pdf"),
    class: "btn btn-primary btn-large " %>
</div>

<dl class="dl-horizontal">
  <dt>Resume Name</dt>
  <dd><%= @resume.resume_name %></dd>
  <dt>Position</dt>
  <dd><%= @resume.position %></dd>
  <dt>Description</dt>
  <dd><%= @resume.description %></dd>
  <dt>Jobs, by Title and Company</dt>
  <% if @resume.jobs.all %>
    <% @resume.jobs.each do |job| %>

      <dd><%= link_to "Edit", edit_resume_job_path(@resume, job), class: "btn btn-small btn-info" %>
      <span><%= job.title %></span> at <span><%= job.company %></span></dd>
    <% end %>
  <% end %>

  <dd><%= link_to "Add a new job", new_resume_job_path(@resume), class: "btn btn-small btn-success" %></dd>

  <dt>School</dt>
  <% @resume.schools.each do |school| %>
    <dd><%= link_to "Edit", edit_resume_school_path(@resume, school), class: "btn btn-small btn-info" %><span><%= school.degree %></span> at <span><%= school.school_name %></span> </dd>
  <% end %>
  <dd><%= link_to "Add a new school", new_resume_school_path(@resume), class: "btn btn-small btn-success" %></dd>
  <dt>Contact</dt>
  <% @resume.contacts.each do |contact| %>
    <dd><%= link_to "Edit", edit_resume_contact_path(@resume, contact), class: "btn btn-small btn-info" %>Mail: <span><%= contact.city %></span>, Phone: <span><%= contact.phone %></span>, Email: <span><%= contact.email %></span></dd>
  <% end %>
  <dd><%= link_to "Add a new contact", new_resume_contact_path(@resume), class: "btn btn-small btn-success" %></dd>
</dl>