<div class="page-header">
  <h1>Inspect a Resume <small><%= current_user.email %></small></h1>
</div>

<%= render 'signout' %>
<%= link_to 'Back to List', resumes_path %>

<dl class="dl-horizontal">
  <dt>Resume Name</dt>
  <dd><%= @resume.resume_name %></dd>
  <dt>Position</dt>
  <dd><%= @resume.position %></dd>
  <dt>Description</dt>
  <dd><%= @resume.description %></dd>
  <dt>Job Titles</dt>
  <% @resume.jobs.each do |job| %>
    <dd><%= job.title %></dd>
  <% end %>
  <dt>School</dt>
  <dd><%= @resume.school_id %></dd>
  <dt>Contact</dt>
  <dd><%= @resume.contact_id %></dd>
</dl>

<% if user_signed_in? %>
  <p><%= link_to 'Edit this Resume', edit_resume_path(@resume) %></p>
  <p><%= link_to 'Edit the Jobs', edit_resume_job_path(@resume) %></p>
<% end %>
