<div class="page-header">
  <h1>Inspect a R&eacute;sum&eacute;</h1>
</div>
<div class="well well-small">
  <p>Review an existing resume, with links to work, education and contact info.</p>
</div>
<%= render 'shownav' %>

<dl class="dl-horizontal">
  <dt>Resume Name</dt>
  <dd><%= @resume.resume_name %></dd>
  <dt>Position</dt>
  <dd><%= @resume.position %></dd>
  <dt>Description</dt>
  <dd><%= @resume.description %></dd>
  <dt>Jobs, by Title and Company</dt>
  <% @resume.jobs.each do |job| %>
    <dd><span><%= job.title %></span> at <span><%= job.company %></span> - <%= link_to "Edit", edit_resume_job_path(@resume, job) %></dd>
  <% end %>
  <dd><%= link_to "Add a new job", new_resume_job_path(@resume) %></dd>
  <dt>School</dt>
  <% @resume.schools.each do |school| %>
    <dd><span><%= school.degree %></span> at <span><%= school.school_name %></span> - <%= link_to "Edit", edit_resume_school_path(@resume, school) %></dd>
  <% end %>
  <dd><%= link_to "Add a new school", new_resume_school_path(@resume) %></dd>
  <dt>Contact</dt>
  <% @resume.contacts.each do |contact| %>
    <dd>Mail: <span><%= contact.city %></span>, Phone: <span><%= contact.phone %></span>, Email: <span><%= contact.email %></span> - <%= link_to "Edit", edit_resume_contact_path(@resume, contact) %></dd>
  <% end %>
  <dd><%= link_to "Add a new contact", new_resume_contact_path(@resume) %></dd>
</dl>